m---
layout: default
language: ja
---
<h1>{{ site.title }}</h1>

<h4>「{{ site.title }}」は、識字や言語学習を家や学校、地域で学べるように作られた、誰でも見ることのできる無料の教育リソースです。40もの<a href="https://africanstorybook.org/" target="_blank">アフリカの絵本</a>が{{ site.lang1 }}と{{ site.lang2 }}、更に他の主要<a href="{{ "/about" | prepend: site.baseurl }}/languages">言語</a>で、読んで、聞いてお使いいただけます。どうぞ皆さんでお楽しみください！</h4>

<div class="container">
  <div class="columns">{% assign sorted_pages = site.pages | sort: "order" %}{% for page in sorted_pages %}{% if page.language == site.lang1_code and page.layout == "story" %}
    <div class="column col-3 col-md-4 col-sm-6 col-xs-12">
      <a class="btn-link" href="{{ "/stories" | prepend: site.baseurl }}/{{ site.lang1_code }}/{{ page.id }}/">
      <div class="card">
        <div class="card-image"><img class="img-responsive" src="https://raw.githubusercontent.com/global-asp/gsn-imagebank/master/{{ page.id }}/01.jpg"></div>
        <div class="card-header">
          <h3 class="card-title def">{{page.title}}</h3></a>
          <div class="bar">
            <a href="{{ "/stories" | prepend: site.baseurl }}/{{ page.language }}/level{{ page.level }}" class="bar-item tooltip" data-tooltip="Level {{ page.level }}" style="width:{{ page.level | times: 20 }}%;">レベル {{ page.level }}</a>
          </div>
        </div>
      </div>
    </div>{% endif %}{% endfor %}
  </div>
</div>
